.tableComponent {
  width: 90%;
  background-color: white;
  margin: 55px;
  border-radius: 25px;
  padding-bottom: 35px;
}

.addbtn {
  margin: 20px;
  background-color: transparent; /* Set background color to transparent */
  color: blue; /* Set the text color to blue */
  border: none; /* Remove border */
  padding: 8px 12px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  outline: none;
  text-decoration: none; /* Remove underline from the link */
}

.tableHeader {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableSearch {
  height: 40px;
  width: 230px;
  border-radius: 50px;
  border: 1px solid #aebecd;
  background-color: #f8f9fa;
  outline: 0px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  height: 50px;

  padding-left: 15px;
  background-color: #f8f9fa;
  border-top: 1px solid #aebecdbd;
  border-bottom: 1px solid #aebecdbd;
  color: #6e7a8a;
  font-weight: 500;
  text-align: left;
  align-items: center;
  width: auto;
  padding: 18px;
}
.table td {
  /* border: 1px solid #ccc; */
  padding: 18px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  margin: 100px;
  font-weight: 400;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr {
  height: 50px;
  padding-left: 10px;
  color: #404b5a;
  font-weight: 500;
}

.table tr:hover {
  background-color: #ddd;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
