.headerComponent{
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

.organizationName{
    margin-left: 25px;
    color: #6E7A8A;
}

.CurrentUserContainer{
    height: 100%;

    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #404B5A;
}

.currentUserProfile{
    background-color:#404B5A;
    height: 50px;
    width: 50px;
    margin: 10px;

    border-radius: 50%;
}

.currentUserDetail{
    position: relative;
    max-width:200px;
    overflow: hidden;
    font-weight: 500;
}
.logout-option {
    display: none;
    position: absolute;
    top: 0%; /* This will place the logout-option just below the user-container */
    right: 0%; /* Aligns the logout-option to the right side of the user-container */
    /* Add other styles as required */
}

/* Display the logout-option when user-container is hovered */
.currentUserDetail:hover .logout-option {
    display: block;
}

.currentUserDetail:hover {
    cursor: pointer;
}