.autoAttendentComponent{
    width: 100%;
}

.autoAttendentComponentHeader{
    padding: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.autoAttendentComponentTitle{  
    color: #404B5A;
    margin: 0%;
}