.callQueueComponent{
    width: 100%;
}

.callQueueComponentHeader{
    padding: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.callQueueComponentTitle{  
    color: #404B5A;
    margin: 0%;
}