.didComponent{
    width: 100%;
}

.didComponentHeader{
    padding: 45px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.didComponentTitle{  
    color: #404B5A;
    margin: 0%;
}

.tableBox{
    display: flex;
    justify-content: center;
}