.userManageComponent{
    width: 100%;
}

.userManageComponentHeader{
    padding: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userManageComponentTitle{  
    color: #404B5A;
    margin: 0%;
}