/* .locationComponent{
    width: 100%;
}

.locationComponentHeader{
    padding: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

.centeredCell:hover {
    cursor: pointer;
    
} 

.ComponentHeader{
    /* padding: 45px; */
    width: 100%;
    padding-top: 2.3%;
    padding-bottom: 2.3%;

    display: flex;
    justify-content: space-between;
}

.Component{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    /* justify-content: space-around; */
}

.userComponentHeader{
    height:10%;
    margin-top: 2.3%;
    margin-bottom: 2.3%;
}

.userComponentTitle{
    margin:0%
}

.tablediv{
    /* margin-top: '-10%'; */
    flex-grow: 1;
    /* height:70%; */
    height:650px;
    min-height:100vh;
    overflow-y:auto;
    margin-bottom: 15px;
}

.MuiDataGrid-columnHeaders{
    background-color: #F8F9FA
    ;
}


/* Webkit */
.userInventory .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}
/* area above and below the thumb */
.userInventory .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}
/* normal thumb color */
.userInventory .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
/* when you click on the thumb bar */
.userInventory .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
.userInventory .MuiDataGrid-virtualScroller {
    scrollbar-width: thin;
    /* scrollbar-height: thin; */
    scrollbar-color: #888 ;
}

.MuiToolbar-root > p{
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);  /* Semi-transparent black */
    z-index: 999;  /* Assuming this z-index value is higher than everything else so that the overlay covers everything */
    backdrop-filter: blur(2px);  /* This blurs the content behind the overlay */
  }


  .slider {
    display: flex;
    width: 488px;
    height: 100%;
    padding: 36px 24px ;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap:45px;
    position: fixed;
    top: 0;
    right: -488px;  /* This should be negative of the width you provided */
    background-color: #fff;
    transition: all 1s ease-out !important; /* Adjusted from 0.3s to 3s as you requested earlier */
    overflow-y: auto;
    z-index: 1000;  /* Ensuring the slider is above the overlay */
  }
  .slider.open {
    right: 0;    
  }


  #checkboxes-tags-demo{
    /* display: none; */
  }

   #checkboxes-tags-demo{
    height:40px;
    padding: 0%;
    border: 0px solid #ccc; 
  } 
  

 

  
  .close-icon:hover {
    cursor: pointer;
  }
  
  
  


