

.adminComponentHeader {
  padding: 45px;
  width: 100%;
  display: flex;
}

.adminComponentTitle {
  color: #404b5a;
  margin: 0%;
  padding-left: 45px;
}

.mapContainer {
  padding: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#formBox {
  border-radius: 45px;
  padding: 45px;
  margin-top: -4%;
  background-color: white;
  width: 100%;
}
.fieldFirst {
  width: 100%;
}

#description {
  width: 100%;
}

#options {
  width: 100%;
}

.select-container {
  position: relative;
}



.cancelbtn {
  margin-top: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
}
